div.Main {
    background-color: #223344;
    border: 2px solid;
    border-radius: 5px;
}

div.Tools {
    color: red;
    height: 80%;
    border: 2px solid;
    border-radius: 5px;
}
div.Stage {
    margin-left: 15%;
    overflow: hidden;
    background-color: yellow;
    border: 2px solid;
    border-radius: 5px;
}
div.Preview {
    background-color: cyan;
    border: 2px solid;
    border-radius: 5px;
}
div#sidebar{
    float:left;
    width:15%;
    overflow:hidden;
}
