div.Main {
    background-color: #223344;
    border: 2px solid;
    border-radius: 5px;
}

div.Tools {
    color: red;
    height: 80%;
    border: 2px solid;
    border-radius: 5px;
}
div.Stage {
    margin-left: 15%;
    overflow: hidden;
    background-color: yellow;
    border: 2px solid;
    border-radius: 5px;
}

*{
    padding : 0;
    margin : 0;
    border : 0;
}
body{
    background-attachment : fixed;
    background-size : 100% auto;
}
.blended_grid{
    display : block;
    width : 900px;
    overflow : auto;
    margin : 30px auto 0 auto;
}
.pageHeader{
    background-color : rgba(80, 0, 0, 0.5);
    float : left;
    clear : none;
    height : 200px;
    width : 900px;
}
.pageLeftMenu{
    background-color : rgba(0, 80, 0, 0.5);
    float : left;
    clear : none;
    height : 600px;
    width : 200px;
}
.pageContent{
    background-color : rgba(0, 0, 80, 0.5);
    float : left;
    clear : none;
    height : 600px;
    width : 700px;
}
.pageFooter{
    background-color : rgba(80, 0, 80, 0.5);
    float : left;
    clear : none;
    height : 100px;
    width : 900px;
}
