*{
    padding : 0;
    margin : 0;
    border : 0;
}
body{
    margin: 10;
    background-attachment : fixed;
    background-size : 100% auto;
}
.blended_grid{
    display : block;
    width : 100%;
    overflow : auto;
    margin : 30px auto 0 auto;
}
.header{
    background-color : rgba(80, 0, 0, 0.5);
    float : left;
    clear : none;
    height : 15%;
    width: 100%;
}
.sidebar{
    float : left;
    clear : none;
    min-width : 15%;
    min-height : 200px;
}
.tools{
    background-color : rgba(0, 80, 0, 0.5);
    float : none;
    clear : both;
    min-height : 400px;
    height : 50%;
}
.preview{
    background-color : rgba(0, 0, 0, 0.5);
    float : none;
    clear : both;
    min-height : 300px;
    height : 30%;
}
.stage{
    background-color : rgba(0, 0, 80, 0.5);
    float : left;
    clear : none;
    min-height : 700px;
    height : 80%;
    width : 85%;
}
.footer{
    background-color : rgba(80, 0, 80, 0.5);
    float : left;
    clear : none;
    height : 8%;
    width : 100%;
}





